@import './common.scss';

.forum-container {
    width: 100vw;
    height: 120vh;
    background-color: $primary;
}

.forum-body {
    height: calc(100% - 100px);
    display: flex;
}

.left-panel-container {
    width: 30%;
    min-height: 100%;
    background-color: $dark;
    color: white;
}

.group-card {
    border-bottom: 1px solid white;
    padding: 20px 0;
}

.right-panel-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.chat-container {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 20%;
    padding: 50px;
    padding-bottom: 0;
}

.message-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

.messagebubble {
    background-color: $accent;
    max-width: 200px;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    text-align: left;
}

.message-heart {
    margin-left: 5px;
    margin-right: 5px;
}

.message-spacer {
    width: 200px;
}

.send-container {
    width: 100%;

    input {
        width: calc(100% - 30px);
    }
}
