@import './common.scss';

.profile-page {
    width: 100vw;
    height: 120vh;
    background-color: $primary;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
}
